name: Build and Publish

on:
  push:
    branches:
      - master

jobs:
  Local-installation-of-terraform:
    name: Terraform for Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Terraform
        run: |
          pwd
          ls -la
          chmod +x ./terraform/terraform-install.sh
          ./terraform/terraform-installa.sh
        shell: bash